<% layout('layouts/boilerplate') %>
<div class="top-container">
  <form action="convert" method="post" id="form">
    <h2><i class="fab fa-youtube"></i> yt to mp3 extraction</h2>
    <h6>enter video url</h6>
    <div>
      <input type="text" name="video-url" placeholder="video url" /><button
        class="convert"
      >
        convert
      </button>
    </div>
  </form>
</div>
<div class="bottom-container"></div>
