<% layout('layouts/boilerplate') %>
<!--  -->
<form action="/convert" method="post" id="form">
  <!-- <h1><i class="fab fa-youtube"></i></h1> -->
  <div>
    <input type="url" name="url" placeholder="enter url" required />
    <input
      type="text"
      name="filename"
      placeholder="enter desired file name"
      required
    />
    <button class="convert">convert</button>
  </div>
</form>
