<% layout('layouts/boilerplate') %>
<!--  -->
<form action="/convert" method="post" id="form">
  <!-- <h1><i class="fab fa-youtube"></i></h1> -->
  <div>
    <input type="text" name="url" placeholder="enter url" /><button
      class="convert"
    >
      convert
    </button>
  </div>
</form>
