<% layout('layouts/boilerplate') %>
<!--  -->
<div class="bottom-container">
  <h3 style="font-weight: bolder"><%= message %></h3>
  <% if(success) { %>
  <h3><%= title %></h3>
  <h6><%= link %></h6>
  <button>
    <a href="<%= downloadLink  %> "></a><i class="fas fa-folder"></i>
  </button>
  <% } %>
</div>
<form action="/" method="get" id="to-home">
  <% if(success) { %>
  <button class="home">extract again</button>
  <% } else { %>
  <button class="home">try again</button>
  <% } %>
</form>
