<% layout('layouts/boilerplate') %>
<!--  -->
<div class="bottom-container">
  <h3 style="font-weight: bolder"><%= message %></h3>
  <% if(success) { %>
  <h3><%= title %></h3>
  <h6><%= link %></h6>
  <a href="<%= link  %> "></a><i class="fas fa-folder"></i>
  <% } %>
</div>
